# Security
SECRET_KEY=django-insecure-strong-production-key
DEBUG=False

# Hosts
ALLOWED_HOSTS=animestore-backend-production.up.railway.app
CSRF_TRUSTED_ORIGINS=https://animestore-backend-production.up.railway.app

# CORS (غيّرها بعد نشر الفرونت)
CORS_ALLOWED_ORIGINS=https://<your-frontend>.vercel.app

# Supabase Postgres
DB_HOST=db.ugkjxmjrnhjcfhkwomiz.supabase.co           # مثال: db.xxxxx.supabase.co أو aws-1-...pooler.supabase.com
DB_PORT=5432
DB_NAME=postgres              # غالبًا postgres
DB_USER=postgres
DB_PASSWORD=ABDelaz@20251

